<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Hoang Dropbox</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
</head>

<body>

<div class="every-file"><p>Go to <a href="file">every file</a> here.</p></div>

  <form method="post" enctype="multipart/form-data" id = "upload-form">
  <input type="file" multiple name="file">
  <p>Drag your files here or click in this area.</p>
  <button type="submit">Upload</button>
  <button type="input" onclick="location.href='file';">Every file</button>
</form>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script>
      $(document).ready(function(){
  $('form input').change(function () {
    if(this.files.length == 1)
    {
      $('form p').text(this.files[0].name);
    }
    else if(this.files.length >= 2)
    {
      var number_of_files = this.files.length-1;
    for (index = 0; index < this.files.length; ++index) {
    $('form p').text(this.files[0].name + " and "+number_of_files+" other files selected");
}
  }
});
});
    </script>

</body>

</html>
